html, body {
	background-color: black;
	
	margin: 0;
	padding: 0;

	width: 100%;
	height: 100%;

	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
							supported by Chrome, Edge, Opera and Firefox */
}

body {
	font-size: 30px;
	font-family: 'Josefin Slab', serif;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#subtitle{
	color: white;

	margin: 0 0 20px 0;
}

p {
	margin-top: 0;
}

#button {
	width: 350px;
	height: 60px;
	border-radius: 3px;

	background-color: white;
	background-image: linear-gradient(45deg, white, rgba(255,255,255,0));
	transition: background-color 1s;
	color: black;

	display: flex;
	align-items: center;
	justify-content: center;

	margin: 20px 0 0 0;
	padding: 0;
}

#button:hover {
	background-color: orange;
	cursor: pointer;
}

#button:active {
	border: solid 1px white;
	background-color: darkorange;
	cursor: pointer;
}